# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Temporary directories
/tmp/
/python/venv/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

*x.py
models